@import '../common.styl'

.root
    position: absolute
    left: 0
    right: 0
    top: 67px
    bottom: 0
    overflow: auto

.listWrapper
    box-sizing: border-box
    min-height: 100%
    display: flex
    flex-direction: column-reverse
    align-items: center
    padding: 15px 0
