
maxWidth(width)
    @media all and (max-width: width)
        {block}

minWidth(width)
    @media all and (min-width: width)
        {block}

maxHeight(height)
    @media all and (max-height: height)
        {block}

minHeight(height)
    @media all and (min-height: height)
        {block}

rotation(interval = 1s)
    :global {
        animation: rotation interval infinite linear
    }

$grayTextColor = #808080;
$blueColor = #62A4EF;
$blueColorHove = #5A96DB
$blueColorActive = #528ACA
// $actionColor = #4EA4F6;
$grayColor = #DADCE0;
