@import '../common.styl'

.root
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;

.loading
    opacity: 0
    transition: opacity 0.5s ease-out
    &.visible
        opacity: 1

.icon
    width: 80px
    height: 80px
