@import '../common.styl'

.root
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;

.loading
    rotation(0.4s)
    svg
        display: block
        width: 60px
        height: 60px
