@import '../common.styl'

.input
    display: block
    box-sizing: border-box
    width: 100%
    padding: 12px 10px
    border-radius: 8px
    border: 1px solid $grayColor
    outline: 0
    font-size: 14px
    &:hover
        border: 1px solid #000000
    &:focus
        padding: 11px 9px
        border: 2px solid $blueColor
    &::placeholder
        color: #A4ACB3
