@import '../common.styl'

.root
    position: absolute
    left: 0
    right: 0
    top: 0
    bottom: 0
    overflow: auto

.content
    position: relative
    box-sizing: border-box
    height: 100%
    width: 100%
    max-width: 1500px
    margin: 0 auto
    background-color: $chatBgColor
    opacity: 0
    transition: opacity 0.4s ease-out
    border-right: 1px solid $grayBorderColor
    border-left: 1px solid $grayBorderColor
    &.visible
        opacity: 1
    +maxWidth(1500px)
        border-right-width: 0
        border-left-width: 0
