@import '../common.styl'

.root
    position: absolute
    left: 0
    top: 0
    bottom: 0
    box-sizing: border-box
    width: 400px
    background-color: $white
    border-right: 1px solid $grayBorderColor
    overflow: auto
    +maxWidth(1000px)
        width: 40%
    +maxWidth(700px)
        width: 100%
        border-right-width: 0

.chatsWrapper
    padding: 7px 0

.chatsContainer
    position: relative

.chatWrapper
    position: absolute
    left: 0
    right: 0
    top: 0
    padding: 1px 8px
    will-change: transform
    transition: transform 0.3s ease-out

.chat
    height: 66px
    border-radius: 8px
    cursor: pointer
    position: relative
    user-select: none
    -moz-user-select: none
    -webkit-user-select: none
    &.isActive
        background-color: $grayBgColor
    &:hover
        background-color: $grayBgColor

.avatar
    position: absolute
    left: 8px
    top: 8px
    width: 50px
    height: 50px
    border-radius: 25px
    background-color: $grayAvatarBgColor
    background-position: center center
    background-repeat: no-repeat
    background-size: cover
    .onlineStatus
        position: absolute
        left: 36px
        top: 36px
        width: 13px
        height: 13px
        border-radius: 50%
        background-color: $white
        transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out
        transform: scale(0.05, 0.05)
        opacity: 0
        &.visible
            transform: scale(1, 1)
            opacity: 1

        .onlineStatusInner
            position: absolute
            left: 2px
            top: 2px
            width: 9px
            height: 9px
            border-radius: 50%
            background-color: $greenColor

.desc
    position: absolute
    left: 66px
    right: 48px
    top: 11px
    bottom: 11px

.name,
.status
    width: 100%
    box-sizing: border-box
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis
    line-height: 22px

.name
    font-size: 14px
    font-weight: 500
    padding-right: 10px

.status
    font-size: 14px
    .statusBlack
        color: $black
    .statusBlue
        color: $blueTextColor
    .statusRed
        color: $red
    .statusGray
        color: $grayTextColor

.meta
    position: absolute
    top: 11px
    right: 8px
    // background-color: $grayBgColor
    width: 40px
    height: 44px

.unreadCount
    position: absolute
    box-sizing: border-box
    top: 23px
    right: 0
    padding: 0 6px
    height: 20px
    min-width: 20px
    line-height: 20px
    border-radius: 10px
    text-align: center
    font-size: 12px
    background-color: $greenColor
    color: $white
    display: none
    &.visible
        display: block;
    &.isMute
        background-color: $grayIconColor

.lastMessageTime
    position: absolute
    top: 0
    right: 0
    font-size: 11px
    line-height: 14px
    color: $grayTextColor
